@using LLMDesktopAssistant.Blazor.Services

@inject IGenerationReadinessService ReadinessService
@inject IUserStateService UserState

@implements IDisposable

<div class="readiness-panel">
	@if (_state != null)
	{
		<label class="readiness-checkbox" title='@LocalizationManager.LocalizeStatic("webui_readiness_title_ready")'>
			<input type="checkbox"
				   @bind="@_state.IsReady"
				   disabled="@_state.IsAlwaysReady" />
			<span class="readiness-checkbox-label">@LocalizationManager.LocalizeStatic("webui_readiness_ready")</span>
		</label>

		<label class="readiness-checkbox" title='@LocalizationManager.LocalizeStatic("webui_readiness_title_auto")'>
			<input type="checkbox"
				   @bind="@_state.IsAlwaysReady" />
			<span class="readiness-checkbox-label">@LocalizationManager.LocalizeStatic("webui_readiness_always_ready")</span>
		</label>
	}

	<span class="readiness-count" title="@LocalizationManager.LocalizeStatic("webui_readiness_count_title")">
		@ReadinessService.ReadyCount / @ReadinessService.TotalCount
	</span>
</div>

@code {
	private UserReadinessState? _state;

	/// <inheritdoc />
	protected override void OnInitialized()
	{
		var user = UserState.GetCurrentUser();
		if (user != null)
		{
			_state = ReadinessService.GetReadinessState(user.Login);
			_state.PropertyChanged += OnStatePropertyChanged;
		}

		ReadinessService.PropertyChanged += OnReadinessServicePropertyChanged;
	}

	private void OnStatePropertyChanged(object? sender, System.ComponentModel.PropertyChangedEventArgs e)
	{
		if (e.PropertyName == nameof(_state.IsAlwaysReady))
		{
			if (_state!.IsAlwaysReady && !_state.IsReady)
			{
				_state.IsReady = true;
			}
		}

		InvokeAsync(StateHasChanged);
	}

	private void OnReadinessServicePropertyChanged(object? sender, System.ComponentModel.PropertyChangedEventArgs e)
	{
		InvokeAsync(StateHasChanged);
	}

	/// <inheritdoc />
	public void Dispose()
	{
		if (_state is not null)
			_state.PropertyChanged -= OnStatePropertyChanged;

		ReadinessService.PropertyChanged -= OnReadinessServicePropertyChanged;
	}
}
